h1, h2{
    color: darkmagenta;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: uppercase;
}
.preguntascv{
    color:orange;
    font-family: ;
}
p{
    color: grey;
    font-weight:800;
}
.listaserieypeli{
    color:grey;
    font-weight: 500;
}
.textonodestaca{
    font-weight: 500;
}