.container{
  padding-top: 30px;
  padding-bottom: 30px;
}
.segundo_contenedor {
  padding-top: 50px;
  text-align: left;
}
.tercer_contenedor{
  padding-top: 100px;
}


.contenedor_proyecto{
  margin-bottom: 50px;
}