.container{
    padding-top: 30px;
    padding-bottom: 30px;
}

.tercer_contenedor{
    padding-top: 100px;
}


.segundo_contenedor{    
   
    background: #fff;
	min-height: 100vh;
	display: flex;
    

}
.texto{
    font-family: 'Poppins', sans-serif;
    font-weight: 900;
    font-size: 12rem;

    width: 100%;
	color: transparent!important;
	text-align: left;
	text-transform: uppercase;	
	font-weight: bold;

    background-image: url("ultimaweb.jpg");
	background-size: contain;
	background-position-y: center;

    background-clip: text;
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

}
.tercer_contenedor,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-bottom: 25px;
    color: #78141e !important;
}


p{
    font-family: 'Poppins', sans-serif;
    font-weight: 200 !important;
}
.contenedor_proyecto{
    margin-bottom: 50px;
}
.thumbnail{
    text-align: center;
}
.container, .row, .titulo3{
    text-align: left;
    padding-top: 2rem;
    color: dimgray !important
}
.skill{
    padding-bottom: 3rem;
}