/* font-family: 'Just Another Hand', cursive;
font-family: 'Poppins', sans-serif; */
#nombreweb{
        animation-name: MiAnimacion;
     animation-duration: 4s;  
}
@keyframes MiAnimacion {
    from {color: white;}
    to {color:dimgray;}
}
.nav-item{
    padding-left: 30px;
    
}
.nav-item:hover{
    text-shadow: #000 1px 0 20px;
}
.active{
    color: #ffff00 !important;
     /* amarillo #ffff00 */
     /* text-shadow: dimgray 1px 0 5px;   */
     font-family: 'Poppins', sans-serif; 
     font-weight:bold;
}
.destacar, .nav-item, a {
    letter-spacing: 5px;
    color: dimgray !important;
}
.navbar{
    background-color:  white!important;
}
.container{
    padding-top: 30px;
    padding-bottom: 30px;
}
.segundo_contenedor {
    padding-top: 50px;
    text-align: left;
}
.tercer_contenedor{
    padding-top: 100px;
}
.segundo_contenedor span{
    color: #ffff00;
    /* font-size: 120px; */
   
}

.segundo_contenedor, h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 150px;
    line-height: 110%;
}
.tercer_contenedor,h3{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding-bottom: 25px;
    color: #7eb999;
}
#diem{
    color: rgba(24,33,114)!important;
}
.bototi{
    color: ;
}

.tercer_contenedor, p{
    font-weight: 300;
}
.contenedor_proyecto{
    margin-bottom: 50px;
}
.mifooter{
    background-color: #ffff00;
    padding: 50px;
    text-align: center;
    
    font-size: 15 px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 5px;
}
.mifooter, .copi_footer{
    padding-top: 100px;
    color: white !important;
}
.mifooter p{
    color: #000;
    font-weight: lighter;
    padding-top: 30px;
}