/* CSS Document */

body {
	padding:0;
	margin:0;
}
.contenedor {
	background: #8FA68E;
	width:100%;


}
nav {
	background: #FC6;
	float:none;
	width:100%;
}
nav ul {
	margin:0;
}
nav ul li a {
	padding: 0.5em;
	display: block;
	color:#000;
}
.contenido {
	border-top: solid black 0.1em;
	float:none;
	padding: 0.9em;
	width:100%;
	margin-left:0;
}
aside {
	border-top: solid black 0.1em;
	float:none;
	padding: 0.8em;
	width:100%;
	margin-left:0;
}
