/* font-family: 'Open Sans Condensed', sans-serif; */
/* font-family: 'Oswald', sans-serif; */

h1, h2, h4{
    color: darkmagenta;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.preguntascv{
    color:orange;
    font-family: ;
}
p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: grey;
    font-weight:800;
    padding: 10px;
}
.listaserieypeli{
    color:grey;
    font-weight: 500;
    font-family: 'Open Sans Condensed', sans-serif;
}
.textonodestaca{
    font-weight: 500;
}
body{
    padding: 20px 10px;
}
img{
    border-radius: 2px 20px 20px 20px;
    box-shadow: 10px 10px 30px rgb(201, 200, 200);

}